/* Features.css */

.features-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }
  
  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .icon {
    font-size: 100px !important; /* Adjust icon size as needed */
    margin-bottom: 5px;
    color: #3d8778;
  }
  .heading-row {
    text-align: center;
  }
  
  .icons-row {
    display: flex;
    justify-content: space-around;
    margin-top: 20px; /* Add margin between heading and icons */
  }
  
  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .icon {
    font-size: 36px; /* Adjust icon size as needed */
    margin-bottom: 5px; /* Adjust margin as needed */
  }
  .feature-text{
    font-size: large !important;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .icon {
      font-size: 28px; /* Decrease icon size for smaller screens */
    }
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .features-section {
      flex-direction: column;
    }
  
    .feature {
      margin-bottom: 20px;
    }
  }
  
  /* Resize icons for smaller screens */
  @media screen and (max-width: 768px) {
    .icon {
      font-size: 20px;
    }
  }
  