/* ImageSlider.css */

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .right-arrow, .left-arrow {
    position: absolute;
    top: 50%;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    left: 10px;
  }
  
  .right-arrow {
    right: 10px;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }
  
  @media screen and (max-width: 768px) {
    .right-arrow, .left-arrow {
      font-size: 2rem;
    }
  }
  