
  /* Style for form fields and labels */
  .form-group {
    margin-bottom: 15px; /* Add spacing between form fields */
  }
  
  label {
    display: block; /* Display labels as block elements */
    margin-bottom: 5px; /* Add spacing below labels */
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%; /* Set input fields to fill container width */
    padding: 10px; /* Add padding to input fields */
    border: 1px solid #ccc; /* Add border for input fields */
    border-radius: 3px; /* Add border radius for input fields */
  }
  
  button {
    width: 100%; /* Set button to fill container width */
    padding: 10px; /* Add padding to button */
    background-color: #3d8778; /* Set button background color */
    color: #fff; /* Set button text color */
    border: none; /* Remove button border */
    border-radius: 3px; /* Add border radius for button */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  
  button:hover {
    background-color: #3d8778; /* Change button background color on hover */
  }


  /* Style for the paragraph containing the "Don't have an account?" message */
.dont-have-account {
  margin-top: 20px;
  font-size: 14px;
}

/* Style for the "Sign up" link */
.signup-link {
  color: blue; /* You can change the color as desired */
  text-decoration: underline;
  cursor: pointer; /* Add pointer cursor to indicate it's clickable */
  font-weight: bold;
}