/* MainContainer.css */
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    border-spacing: 0;
  }
  
  table th, table td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #3d877824;
  }
  
  table th {
    background-color:#3d87787f;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  table tr:hover {
    background-color: #ddd;
  }
  
  /* CriteriaTable.css */
  table {
    margin-bottom: 20px;
  }
  
  /* SubcriteriaTables.css */
  h3 {
    margin-top: 20px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    table {
      font-size: 14px;
    }
  
    table th, table td {
      padding: 6px;
    }
  }
  
  @media (max-width: 576px) {
    table {
      font-size: 12px;
    }
  
    table th, table td {
      padding: 4px;
    }
  }